[*.cs]

# MethodDocumentationHeader: The method must have a documentation header.
dotnet_diagnostic.MethodDocumentationHeader.severity = none

# ConstructorDocumentationHeader: The ctor must have a documentation header.
dotnet_diagnostic.ConstructorDocumentationHeader.severity = none

# ClassDocumentationHeader: The class must have a documentation header.
dotnet_diagnostic.ClassDocumentationHeader.severity = none
