[*.cs]

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# MethodDocumentationHeader: The method must have a documentation header.
dotnet_diagnostic.MethodDocumentationHeader.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# CS8620: Argument cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8620.severity = none

# ConstFieldDocumentationHeader: The field must have a documentation header.
dotnet_diagnostic.ConstFieldDocumentationHeader.severity = none

# ConstructorDocumentationHeader: The constructor must have a documentation header.
dotnet_diagnostic.ConstructorDocumentationHeader.severity = none

# ClassDocumentationHeader: The class must have a documentation header.
dotnet_diagnostic.ClassDocumentationHeader.severity = none

# InterfaceDocumentationHeader: The interface must have a documentation header.
dotnet_diagnostic.InterfaceDocumentationHeader.severity = none
